@font-face {
  font-family: 'MapleMono';
  font-display: swap;
  src: url('/fonts/MapleMono.ttf') format("truetype");
}
@font-face{
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}